@font-face {
    font-family: 'coffeeatmidnight';
    src: url('../font/Coffee At Midnight Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#back {
  background: url('../images/trinitybg.jpeg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 9.0;
  height: 100vh;
  width: 100vw;
  top: 0;
  -webkit-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}

#text {
  position: absolute;
  top: 0;
  width: 100vw;
}

#reg {
  font-family: coffeeatmidnight;
  position: center;
  font: bold;
}

h5 {
  color: #fff;
  font-family: coffeeatmidnight;
  font-size: 70px;
}
#startbtn {
  position: fixed;
  top:50%;
}
#startcontent {
  position: fixed;
  top: 30%
}
